apiVersion: v1
kind: Service
metadata:
  name: hive-metastore
spec:
  type: NodePort
  ports:
    - port: 9083
      nodePort: 31006 # External Access
  selector:
    app: hive-metastore
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hive-metastore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hive-metastore
  template:
    metadata:
      labels:
        app: hive-metastore
    spec:
      containers:
        - name: hive-metastore
          image: warvba22/hive-metastore:0.1.0
          ports:
            - containerPort: 9083
          env:
            - name: HIVE_METASTORE_DRIVER
              value: "org.postgresql.Driver"
            - name: HIVE_METASTORE_JDBC_URL
              value: "jdbc:postgresql://postgres:5432/metastore" # Points to K8s Service
            - name: HIVE_METASTORE_USER
              value: "hive"
            - name: HIVE_METASTORE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: platform-secrets
                  key: postgres-password
            - name: HIVE_METASTORE_WAREHOUSE_DIR
              value: "s3://spark-delta-lake/"
            - name: S3_ENDPOINT
              value: "http://minio:9000"
            - name: S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: platform-secrets
                  key: minio-access-key
            - name: S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: platform-secrets
                  key: minio-secret-key
            - name: S3_PATH_STYLE_ACCESS
              value: "true"