# --- 3. Spark Master Ingress (เข้าผ่าน Domain) ---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: spark-master-ingress
  namespace: platform
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: spark.localhost
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: spark-master-svc
            port:
              number: 8080